language: python
python: "3.6"
  
install:
  - pip install -U -r requirements.txt
  - pip install -U -r requirements-dev.txt
  - pip install -U -r requirements-examples_tmp.txt

script:
  - python -m pytest --cov-report term --cov=MPyDATA_tmp
  - |
    python -m ipykernel install --user
    for i in examples/*.ipynb; do 
      jupyter nbconvert --to markdown --stdout $i > $i.md.repo; 
      jupyter nbconvert --to markdown --execute --stdout $i > $i.md.travis; 
      # TEMPORARILY disabled before we find a solution for generated graphics causing diffs to differ
      # diff $i.md.repo $i.md.travis
    done;

after_success:
  - codecov
