# test-time requirements
matplotlib>=3.2.2
ghapi
pytest

# note: if cloning both PyMPDATA and PyMPDATA examples, consider "pip install -e"
git+git://github.com/slayoo/PyMPDATA-examples@1649dfc#egg=PyMPDATA-examples