# test-time requirements
matplotlib>=3.2.2
ghapi
pytest

# note: if cloning both PyMPDATA and PyMPDATA examples, consider "pip install -e"
git+git://github.com/atmos-cloud-sim-uj/PyMPDATA-examples@_____#egg=PyMPDATA-examples