# test-time requirements
matplotlib>=3.2.2
ghapi
pytest
pytest-benchmark

# note: if cloning both PyMPDATA and PyMPDATA examples, consider "pip install -e"
PyMPDATA-examples @ git+git://github.com/atmos-cloud-sim-uj/PyMPDATA-examples@603952f#egg=PyMPDATA-examples