# test-time requirements
matplotlib>=3.2.2
scipy==1.7.3
jupyter-core<6.0.0
ghapi
pytest
pytest-benchmark

# this is a PyMPDATA-examples dependency, as of time of writing the pip package depends on
# deprecated distutils, which cause a warning on Python 3.10, to be removed after joblib release
joblib @ git+https://github.com/joblib/joblib@3d80506#egg=joblib

# note: if cloning both PyMPDATA and PyMPDATA examples, consider "pip install -e"
PyMPDATA-examples @ git+https://github.com/slayoo/PyMPDATA-examples@cbf7fff#egg=PyMPDATA-examples
