# test-time requirements
matplotlib>=3.2.2
ghapi
pytest
pytest-benchmark

# note: if cloning both PyMPDATA and PyMPDATA examples, consider "pip install -e"
git+git://github.com/slayoo/PyMPDATA-examples@603952f#egg=PyMPDATA-examples