{% extends "default/index.html.jinja2" %}

{% block title %}PyMPDATA documentation{% endblock %}

{% block nav %}
    <style>
    nav {
        display: none;
    }
    </style>
{% endblock %}


{% block content %}
    <style>
    .pdoc {
        margin: 0 auto;
        padding: 1em;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    </style>
    <main class="pdoc">
        <div style="display: flex; align-items: center;">
            <a href="https://open-atmos.github.io/PyMPDATA/index.html">
                <img src="https://raw.githubusercontent.com/open-atmos/PyMPDATA/main/.github/pympdata_logo.svg" style="height:6em" alt="pympdata logo">
            </a>
            <h1 style="padding-left: 0.5em; color: #13A4DE; font-weight: normal ">Documentation</h1>
    </div>
    <div style="padding-top: 2em">
        <h2>What is PyMPDATA?</h2>
        <p>
            <div style="float:right; width:25%">
                <img width="100%" src="https://github.com/open-atmos/PyMPDATA-MPI/releases/download/latest-generated-plots/n_iters.3_rank_0_size_1_c_field_.0.5.0.25._mpi_dim_0_n_threads_3-CartesianScenario-anim.gif">
                <br />
                <br />
                <img width="100%" src="https://github.com/open-atmos/PyMPDATA/releases/download/tip/boussinesq_2d_anim.gif">
            </div>
            PyMPDATA is a <b><a href="https://numba.pydata.org">Numba-accelerated</a></b> <mark>multi-threaded</mark> Pythonic implementation of the 
            <b>MPDATA algorithm</b> of <a href="https://doi.org/10.1016/0021-9991(84)90121-9">Smolarkiewicz et al.</a> used in 
            <mark>geophysical fluid dynamics</mark> and beyond for
            <b>numerically solving generalised <mark>convection-diffusion PDEs</mark></b>.
            PyMPDATA supports integration in 1D, 2D and 3D structured meshes
              with optional coordinate transformations.
            The first animation shown depicts a "hello-world" 2D advection-only simulation
              with dotted lines indicating <mark>domain decomposition</mark> across three threads.
            The second animation depicts an MPDATA solution to coupled mass and momentum conservation equations
              for a buoyancy-driven flow in Boussinesq approximation (see <a href="/PyMPDATA/PyMPDATA_examples/Jaruga_et_al_2015.html">Jaruga et al. 2015</a> example). 
        </p>
        <p>
            A separate project called <b><a href="https://github.com/open-atmos/PyMPDATA-MPI">PyMPDATA-MPI</a></b> depicts how 
            <b><a href="https://github.com/numba-mpi/numba-mpi">numba-mpi</a></b> can be used to enable <mark>distributed memory parallelism</mark> in PyMPDATA.
        </p>
    </div>
    <div style="padding-top: 0.5em">
        <h2>What is the difference between PyMPDATA and PyMPDATA-examples?</h2>
        <p>
            PyMPDATA is a Python package that provides the MPDATA algorithm implementation.
            It is a library that can be used in your own projects.
        </p>
        <p>
            PyMPDATA-examples is a Python package that provides examples of how to use PyMPDATA.
            It includes common Python modules used in PyMPDATA smoke tests and in example Jupyter notebooks
            (but the package wheels do not include the notebooks, only .py files imported from the notebooks and PyMPDATA tests).
        </p>
        <p>The two projects exist separately on PyPI, but their development and issue tracking is hosted at the same GitHub repository.</p>
    </div>
    <div style="padding-top: 0.5em">
        <h2><b style="font-weight: 600">Important links</b></h2>
        <table style="width:100%">
            <tr>
                <th width="33%">PyMPDATA</th>
                <th width="33%">PyMPDATA-examples</th>
                <th width="33%">PyMPDATA-MPI</th>
            <tr>
            <tr>
            <td>
              <ul>
                <li><a href="https://open-atmos.github.io/PyMPDATA/PyMPDATA.html">docs (<b>incl. tutorial</b>)</a></li>
                <li><a href="https://pypi.org/p/PyMPDATA"><img src="https://img.shields.io/pypi/v/pympdata?logo=pypi&logoColor=white"></a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="https://open-atmos.github.io/PyMPDATA/PyMPDATA_examples.html">docs (<b>incl. example gallery</b>)</a></li>
                <li><a href="https://pypi.org/p/PyMPDATA-examples"><img src="https://img.shields.io/pypi/v/pympdata-examples?logo=pypi&logoColor=white"></a></li>
              </ul>
            </td>
            <td>
                <ul>
                    <li><a href="https://open-atmos.github.io/PyMPDATA/PyMPDATA_MPI.html">docs</a></li>
                    <li><a href="https://pypi.org/p/PyMPDATA-MPI/"><img src="https://img.shields.io/pypi/v/pympdata-mpi?logo=pypi&logoColor=white"></a></li>
                </ul>
            </td>
            </tr>
            <tr>
            <td colspan="3">
                <ul>
                    <li><a href="https://github.com/open-atmos/PyMPDATA"><img src="https://img.shields.io/static/v1?label=PyMPDATA&logo=github&color=gold&message=code+repository"></a></li>
                        <li><a href="https://github.com/open-atmos/PyMPDATA/issues"><img src="https://img.shields.io/github/issues/open-atmos/pympdata?label=PyMPDATA%20issues&logo=github&logoColor=white"></a></li>
                </ul>
            </td>
            </tr>
        </table>
	<div style="padding-top: 0.5em">
        <h2>Dependencies</h2>
        <p>
            PyMPDATA depends on <a href="https://numpy.org/">NumPy</a>, <a href="https://numba.pydata.org/">Numba</a> and <a href="">pystrict</a>.
        </p>
        <p>
            PyMPDATA-examples requires additional packages listed in <code>install_requires</code> in
            <a href="https://github.com/open-atmos/PyMPDATA/blob/main/examples/setup.py">setup.py</a>.
            Amongst them is PyMPDATA.
        </p>
	<p>
	  PyMPDATA-MPI depends on <a href="https://github.com/numba-mpi/numba-mpi">Numba-mpi</a>, <a href="https://github.com/h5py/h5py">h5py</a> and on <a href="https://github.com/mpi4py/mpi4py">mpi4py</a>  
    </div>
        </div>
    <div style="padding-top: 0.5em">
        <h2>Installation</h2>
        <p>
            PyMPDATA is available on PyPI and can be installed using pip:
        </p>
        <pre><code>pip install PyMPDATA</code></pre>
        <p>Note: the way above <b>will not</b> install PyMPDATA-examples or PyMPDATA-MPI.
	</p>
	<p> To install PyMPDATA-examples, and run the tests, likely the most convenient way is:</p>
        <pre><code>git clone https://github.com/open-atmos/PyMPDATA.git
pip install -e PyMPDATA[tests] -e PyMPDATA/examples[tests]
pytest PyMPDATA</code></pre>
        <p>(the above should be a viable way to set up development environment for PyMPDATA, see also our <a href="https://github.com/open-atmos/python-dev-hints/wiki">Python dev hints Wiki</a> for further information)</p>
        <p>
            Note: PyMPDATA-examples is also available on PyPI and can be installed using pip:
        </p>
        <pre><code>pip install PyMPDATA-examples</code></pre>
        <p>(this will also install PyMPDATA if needed, but the examples package wheels do not include the Jupyter notebooks - only common code used from the notebooks.)
	</p>
	<p>
          All PyMPDATA example notebooks can be viewed on GitHub and feature header cells with badges enabling single-click execution on either 
          <a href="https://colab.research.google.com">Google Colab</a> or <a href="https://mybinder.org">mybinder.org</a> platforms. 
          To try the notebooks out locally, use:
        </p>
        <pre><code>git clone https://github.com/open-atmos/PyMPDATA.git
pip install -e PyMPDATA -e PyMPDATA/examples
jupyter-notebook PyMPDATA/examples</code></pre>
	<p> To install PyMPDATA-MPI, we first recommend to compile and install local MPI-compatible h5py for HDF storage and then install the package using pip:
	</p>
	<pre><code>HDF5_MPI="ON" pip install --no-binary=h5py h5py
pip install PyMPDATA-MPI</code></pre>
        </div>
    <div style="padding-top: 0.5em">
        <h2>Contributing, reporting issues and seeking support</h2>
        <p>
            Submitting new code to both packages is done through the same GitHub repository via
            <a href="https://github.com/open-atmos/PyMPDATA/pulls">Pull requests</a>.
        </p>
        <p>
            Issues regarding any incorrect, unintuitive or undocumented behaviour of PyMPDATA or PyMPDATA-examples
            are best to be reported on the
            <a href="https://github.com/open-atmos/PyMPDATA/issues/new">GitHub issue tracker</a>.
        </p>
        <p>
            We encourage to use the <a href="https://github.com/open-atmos/PyMPDATA/discussions">GitHub Discussions</a>
            feature (rather than the issue tracker) for seeking support in understanding,
            using and extending PyMPDATA code.
        </p>
    </div>
     <div style="padding-top: 0.5em">
        <h2>Licensing, credits, acknowledgements</h2>
        <p>
          PyMPDATA and PyMPDATA-examples are free/libre open-source software packages released under the
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3 license</a>.
        <p>
          Development of PyMPDATA was started by <a href="https://github.com/piotrbartman">Piotr Bartman[-Szwarc]</a>, 
            <a href="https://github.com/slayoo">Sylwester Arabas</a> and collaborators
            at the <a href="https://en.uj.edu.pl/en">Jagiellonian University in Kraków</a>.
          For an overview of features of the initial release, see the
            <a href="https://doi.org/10.21105/joss.03896">2022 PyMPDATA v1 JOSS paper</a>.
          See <a href="https://github.com/open-atmos/PyMPDATA/graphs/contributors">list of code committers</a>
            for a complete list of contributors.
        </p>
        <p>
          Development of PyMPDATA was supported by:
        </p>
         <ul style="list-style:square;">
            <li><a href="https://www.fnp.org.pl/en/">Foundation for Polish Science</a> (grant no. POIR.04.04.00-00-5E1C/18 co-financed by the European Union under the European Regional Development Fund)</li>
            <li><a href="https://ncn.gov.pl/en">Polish National Science Centre</a> (grant no. 2020/39/D/ST10/01220)</li>
          </ul>
    </div>
    <div>
        <h2>Bibliography with code cross-references</h2>
        <p>
            The list below summarises all literature references included in PyMPDATA codebase and includes links to both the referenced papers, as well as to the referring PyMPDATA source files.
        </p>
        {% include "bibliography.html" %}
        <h2>EOF</h2>
        </div>
    </main>
{#    {% include "search.html.jinja2" %}#}
{% endblock %}
